---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/search.php?s=pork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52847","strMeal":"Pork Cassoulet","strCategory":"Pork","strArea":"French","strInstructions":"Heat
        oven to 140C\/120C fan\/gas 1. Put a large ovenproof pan (with a tight-fitting
        lid) on a high heat. Add your fat and diced meat, cook for a few mins to seal
        the edges, giving it a quick stir to cook evenly. Reduce the heat to low,
        add the sliced onion, whole garlic cloves, carrot and fennel seeds, and cook
        gently to soften the veg for a few mins.\r\nPour over the red wine vinegar,
        scraping any meaty bits off the bottom of the pan. Add the stock, tomato pur\u00e9e,
        and half the rosemary and parsley. Bring to the boil and simmer for 10 mins,
        then season, cover with a lid and put into the oven for 2 hrs, removing the
        lid for the final hour of cooking. Stir occasionally and add the beans with
        30 mins to go.\r\nRemove the pan from the oven and heat the grill. Scatter
        the top with the remaining herbs and breadcrumbs, drizzle a little oil over
        the top, and return to the oven for 5-10 mins, until the breadcrumbs are golden.
        Serve with crusty bread and green veg.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wxuvuv1511299147.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=MEdHMTD0VCA","strIngredient1":"Goose
        Fat","strIngredient2":"Pork","strIngredient3":"Onion","strIngredient4":"Garlic","strIngredient5":"Carrots","strIngredient6":"Fennel
        Seeds","strIngredient7":"Red Wine Vinegar","strIngredient8":"Vegetable Stock","strIngredient9":"Tomato
        Puree","strIngredient10":"Rosemary","strIngredient11":"Parsley","strIngredient12":"Haricot
        Beans","strIngredient13":"Breadcrumbs","strIngredient14":"Oil","strIngredient15":"Bread","strIngredient16":"Broccoli","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"4
        tbsp","strMeasure2":"350g","strMeasure3":"1 large","strMeasure4":"10","strMeasure5":"1
        thinly sliced","strMeasure6":"1 tsp ","strMeasure7":"2 tblsp ","strMeasure8":"600ml","strMeasure9":"1
        tblsp ","strMeasure10":"2 sticks","strMeasure11":"Handful","strMeasure12":"400g","strMeasure13":"2
        tblsp ","strMeasure14":"drizzle","strMeasure15":"to serve","strMeasure16":"to
        serve","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/jacks-pork-cassoulet","dateModified":null},{"idMeal":"52828","strMeal":"Vietnamese
        Grilled Pork (bun-thit-nuong)","strCategory":"Pork","strArea":"Vietnamese","strInstructions":"Slice
        the uncooked pork thinly, about \u215b\". It helps to slightly freeze it (optional).\r\nMince
        garlic and shallots. Mix in a bowl with sugar, fish sauce, thick soy sauce,
        pepper, and oil until sugar dissolves.\r\nMarinate the meat for 1 hour, or
        overnight for better results.\r\nBake the pork at 375F for 10-15 minu[...]
