<br>
<h3>Recipes</h3>
<br>
<div class="flexbox-container">
  <% @all_recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe.id) do %>
      <article>
        <p><h3><%= recipe.name %></h3></p>
        <br>
      </article>
    <% end %>
<% end %>
<div>
