<br>
<h3>Recipes</h3>
<br>
<div class="flexbox-container">
  <% if @all_recipes != nil %>
    <% @all_recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe.id) do %>
          <article>
            <p> <%= image_tag('https://' + recipe.image_url, :class => "thumbnail") %> </p>
            <p><h3><%= recipe.name %></h3></p>
            <br>
          </article>
        <% end %>
      <% end %>
    <% else %>
    <p>Please use/include more ingredients in your kitchen to show recipes</p>
    <% end %>
</div>
<center>
<%= form_tag("/recipes", method: "get") do %>
<input type="submit" name="allrecipes" id="allrecipes" value="Show all Recipes"></input>
<% end %>
</center>
