<center>
<br>
<h2 class="header">Recipe Search</h2>
<br><br>
<%= form_tag recipes_advsearch_path do %>
  <h3>Include Ingredients</h3>
  <div id="include-ingredient-div">
    <p><input type="textarea" name="include[1]" id="include-ingredient1" class="input" ></p>
  </div>
  <p><button type="button" name="button" id="include-ingredient-button" class="btn">Include New Ingredient</button></p>

  <br>

  <h3>Exclude Ingredients</h3>
  <div id="exclude-ingredient-div">
    <p><input type="textarea" name="exclude[1]" id="exclude-ingredient1" class="input" ></p>
  </div>
  <p><button type="button" name="button" id="exclude-ingredient-button" class="btn">Exclude New Ingredient</button></p>

  <%= submit_tag 'Search', :class => "btn" %>
<% end %>
</center>
