<center>
<br>
<h2>Recipe Search</h2>
<br>
<br>
<%= form_tag recipes_search_path do %>
  <h3>Include Ingredients</h3>
  <div id="include-ingredient-div">
    <p><input type="textarea" name="include[1]" id="include-ingredient1" ></p>
  </div>
  <p><button type="button" name="button" id="include-ingredient-button">Include New Ingredient</button></p>

  <br>

  <h3>Exclude Ingredients</h3>
  <div id="exclude-ingredient-div">
    <p><input type="textarea" name="exclude[1]" id="exclude-ingredient1" ></p>
  </div>
  <p><button type="button" name="button" id="exclude-ingredient-button">Exclude New Ingredient</button></p>

  <%= submit_tag 'Search' %>
<% end %>
</center>
