<br>
<h2 class="sub_header">Favorites</h3>
<div class="container">
  <% if @favorites != nil %>
    <% @favorites.each do |recipe| %>
        <%= link_to recipe_path(recipe.id) do %>
          <article>
            <p> <%= image_tag(recipe.image_url, :class => "thumbnail") %> </p>
            <p><h3><%= recipe.name %></h3></p>
            <br>
          </article>
        <% end %>
      <% end %>
    <% else %>
    <p>Please use/include more ingredients in your kitchen to show recipes</p>
    <% end %>
</div>
