<br>
<p><strong><h3>Add to Pantry</h3></strong></p>
<br>
  <div class="pantry">
    <%= form_tag users_kitchen_path(@users), method: :patch do %>
    <% @foods.each do |food| %>
      <p>
        <%= check_box_tag food.name.downcase %>
        <%= label_tag food.name %>
      </p>
    <% end %>
    <p>
      <%= submit_tag "Add to my Kitchen!" %>
    </p>
  <% end %>
  <br>

</div>
