<br><br><br>
<h3 class="sub_header">Shopping List</h3>
<br>

<center>
  <div class="pantry">
    <% @list.each do |listitem| %>
    <%= check_box_tag listitem.food.name %>
    <%= label_tag listitem.food.name %>
    <br>
    <% end %>
  </div>
</center>
<br>
<center>
  <%= form_tag removed_foods_path do %>
    <%= submit_tag 'Clear my Shopping List!' %>
  <% end %>
</center>
