<br>
<center><h2 class="header">Weekly Planner</h2></center>
<br><br>
<div class="weeklyplanner">

  <div class="dayplanner" id="weeklysunday">
    <h4>Sunday</h4>
    <div class="breakfast" id="sundaybreakfast">
      Breakfast
      <span class="ui-widget-header"></span>
    </div>
    <div class="lunch">
      Lunch
      <span class="ui-widget-header"></span>
    </div>
    <div class="dinner">
      Dinner
      <span class="ui-widget-header"></span>
    </div>
  </div>
  <div class="dayplanner" id="weeklymonday">
    <h4>Monday</h4>
    <div class="breakfast" id="mondaybreakfast">
      Breakfast
      <span class="ui-widget-header"></span>
    </div>
    <div class="lunch">
      Lunch
      <span class="ui-widget-header"></span>
    </div>
    <div class="dinner">
      Dinner
      <span class="ui-widget-header"></span>
    </div>
  </div>
  <div class="dayplanner" id="weeklytuesday">
    <h4>Tuesday</h4>
    <div class="breakfast" id="tuesdaybreakfast">
      Breakfast
      <span class="ui-widget-header"></span>
    </div>
    <div class="lunch">
      Lunch
      <span class="ui-widget-header"></span>
    </div>
    <div class="dinner">
      Dinner
      <span class="ui-widget-header"></span>
    </div>
  </div>
  <div class="dayplanner" id="weeklywednesday">
    <h4>Wednesday</h4>
    <div class="breakfast" id="wednesdaybreakfast">
      Breakfast
      <span class="ui-widget-header"></span>
    </div>
    <div class="lunch">
      Lunch
      <span class="ui-widget-header"></span>
    </div>
    <div class="dinner">
      Dinner
      <span class="ui-widget-header"></span>
    </div>
  </div>
  <div class="dayplanner" id="weeklythursday">
    <h4>Thursday</h4>
    <div class="breakfast " id="thursdaybreakfast">
      Breakfast
      <span class="ui-widget-header"></span>
    </div>
    <div class="lunch">
      Lunch
      <span class="ui-widget-header"></span>
    </div>
    <div class="dinner">
      Dinner
      <span class="ui-widget-header"></span>
    </div>
  </div>
  <div class="dayplanner" id="weeklyfriday">
    <h4>Friday</h4>
    <div class="breakfast" id="fridaybreakfast">
      Breakfast
      <span class="ui-widget-header"></span>
    </div>
    <div class="lunch">
      Lunch
      <span class="ui-widget-header"></span>
    </div>
    <div class="dinner">
      Dinner
      <span class="ui-widget-header"></span>
    </div>
  </div>
  <div class="dayplanner" id="weeklysaturday">
    <h4>Saturday</h4>
    <div class="breakfast" id="saturdaybreakfast">
      Breakfast
      <span class="ui-widget-header"></span>
    </div>
    <div class="lunch">
      Lunch
      <span class="ui-widget-header"></span>
    </div>
    <div class="dinner">
      Dinner
      <span class="ui-widget-header"></span>
    </div>
  </div>

<% @planner.each do |plan| %>
  <div class="recipedroppable ui-widget-content">
    <%= plan.recipe.name %>
  </div>
<% end %>

</div>
