<h3>My Kitchen</h3>

<div class="kitchen">
<% @kitchen.each do |food| %>
  <article>
    <%= food.name %>
  </article>
<% end %>
</div>

<br><br><br>

<h3><%= link_to "Add to your kitchen!", edit_kitchen_path(current_user) %></h3>
