<br>
<h3 class="header">My Kitchen</h3>
<br>
<div class="form kitchen">
<% @kitchen.each do |food| %>
  <article>
    <%= food.name %>
  </article>
<% end %>
</div>

<br><br><br>

<h3><%= link_to "Add to your kitchen!", users_pantry_path %></h3>
