/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
  *= require jquery-ui
  */

 @import "hamburgers";
 @import "font-awesome";

.flash {
  background-color: crimson;
  padding: 1em;
  color: white;
  position: relative;
  top: 50px;
  width: 100%;
  z-index: 6;
  text-transform: uppercase;
  text-align: left;
}

.ingredient_search_input {
  width: 150px;
}

#crimson {
  background-color: crimson;
}

#error_text {
  text-align: left;
}

#logo {
  z-index: 100;
  position: absolute;
  max-width: 15%;
  max-height: 15%;
}

.flash div {
  display: inline-block;
  margin: auto;
  background-color: crimson;
}

.flash h4, h5 {
  background-color: inherit;
}

.active {
  transform: scale(1.1);
}

*, body {
  // box-sizing: border-box;
  margin: 0;
  background-color: #efeffc;
  font-family: 'Noto Sans', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

#search_container {
  margin-top: 0.4em;
  position: relative;
  top: 0.5em;
  overflow: hidden;
}

#normal_search_btn {
  border-radius: 5px;
  font-size: 12px;
  padding: 0.5em;
  background: GhostWhite;
  transition: all 0.2s;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

#emptywarning {
  text-align: center;
  margin: 1em 1em;
}

#someingredients {
  text-align: center;
}

.top_highlighted {
  transition: all 0.2s;
  position: absolute;
  // border: 10px solid red;
  top:0;
  background-color: transparent;
  left:0;
  z-index: -1;
  border-radius: 5px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // background-color:transparentize(#EAEAFD, 0.5);
}

.menu {
  display: block;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  top: -550px;
  transition: .3s all;
  overflow: hidden;
}

.menu_show {
  position: absolute;
  top: 0px;
  // top: 0px!important;
  z-index: 3;
}

.menu a {
  display: block;
  position: relative;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid lightgrey;
  // background-color: GhostWhite;
}

nav {
  padding-bottom: 2em;
  border-bottom: 1px solid lightgrey;
}

nav h1 {
  font-size: 1em;
  padding: 1em;
  float: left;
  display: inline-block;
}

#term {
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: GhostWhite;
}

#term:focus {
  border-color: blue;
}

#adv_search {
  display: none;
}

#normal_search_div {
  top: 14px;
  position: relative;
  display: inline;
}

#normal_search {
  // top: 13px;
  display: inline;
  position: relative;
  left: 3px;
}

#search_right_align {
  float: right;
  padding-top: 0.15em;
  right: 3em;
  position: relative;
}

.form {
  display: inline-block;
  margin: auto;
  width: 100%
}

#recipe_form {
  width: 65%;
  margin: auto;
}

.form input {
  margin-bottom: 2em;
}
.form button {
  margin-bottom: 2em;
}

#whitespace {
  background-color: #efeffc;
  width: 100%;
  height: 40px;
}

.sub_header {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.fa {
  background-color: transparent;
}

.fa-times {
  background-color: transparent;
  color: red;
  position: relative;
  right: -192px;
  top: -0.6em;
}

.modal {
  display: none;
}

.modalattr {
  display:block;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  margin: auto;
  z-index: 2;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid black;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

.nutritioncontainer {
  display: inline-block;
  margin: auto;
 }

 #navlogin {
  display: none;
 }

@media ( min-width: 960px ) {

  .container {
    margin-top: 1em;
  }

  nav {
    padding-bottom: 1.5em;
  }

  #emptywarning {
    text-align: center;
    margin: 2em;
  }

  #adv_search {
    display: inline-block;
    position: relative;
    font-size: 12px;
    top: 0px;
    left: 0.5em;
    padding: 0.5em;
    background: GhostWhite;
    border: 1px solid lightgrey;
    border-radius: 6px;
    transition: all 0.2s;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }

  .active {
    transform: scale(1.1);
  }

  #adv_search_menu {
    display: none;
  }

  #topmenu {
    border-top: none;
  }

  nav h1 {
    font-size: 1.5em;
    padding: 0.25em;
    float: left;
  }

  #search_right_align {
    float: right;
    right: 1em;
    position: relative;
  }

  #normal_search_wrapper {
    // top: 35px;
    display: inline-block;
    height: 100%;
    // position: relative;
  }

  #whitespace {
    display: none;
  }

  .top_highlighted {
    z-index: 2;
    background-color: #EAEAFD;
    display: none;
  }

  .menu {
    // background-color: GhostWhite;
    top: 65px;
    margin-bottom: 2em;
    text-align: center;
    // border-bottom: 1px solid lightgrey;
  }

  .menu a {
    box-sizing:padding-box;
    display: inline;
    border-bottom: none;
    background: transparent;
    font-size: 10px;
    transition: all 0.2s;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }

  .menu a:hover {
    // font-weight: bold;
    // color: purple;
    top: -1px;
    // font-size: 15px;
    // background-color: orange;
    // transform: translateY(-10px);
  }

  #navlogin {
    display: hidden;
  }

  .fa {
    right: -99%;
  }

}

@media ( min-width: 1100px ) {

  .menu a {
    font-size: 13px;
  }

}

@media ( min-width: 1250px ) {

  .menu a {
    font-size: 15px;
  }

}
