/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
  *= require jquery-ui
  */

 @import "hamburgers";
 @import "font-awesome";

.flash {
  background-color: crimson;
  padding: 1em;
  color: white;
  position: relative;
  top: 50px;
  width: 100%;
  z-index: 10;
  text-transform: uppercase;
  text-align: left;
}

#crimson {
  background-color: crimson;
}

#error_text {
  text-align: left;
}

.flash div {
  display: inline-block;
  margin: auto;
  background-color: crimson;
}

.flash h4, h5 {
  background-color: inherit;
}

*, body {
  // box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, Arial, monospace;
  background-color: GhostWhite;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}



a:hover {
  color: white;
  text-shadow:
      -1px -1px 0 #333,
      1px -1px 0 #333,
      -1px 1px 0 #333,
      1px 1px 0 #333,
      0px 0px 5px #333;
}

#search_container {
  margin-top: 0.4em;
  position: relative;
  top: 0.5em;
  overflow: hidden;
}

a#LogoHeader:hover {
  color: white;
}

#LogoHeader {
  text-decoration: none;
  color: black;
}

#emptywarning {
  text-align: center;
  margin: 1em 1em;
}

#someingredients {
  text-align: center;
}

.menu {
  width: 100%;
  display: inline-block;
  background-color: GhostWhite;
  position: absolute;
  top: -500px;
  transition: .3s all;
}

.menu_show {
  top: 0px!important;
  z-index: 2;
}

.menu a {
  display: block;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: GhostWhite;
}

nav {
  padding-bottom: 2em;
  border-bottom: 1px solid lightgrey;
}

nav h1 {
  font-size: 1em;
  padding: 1em;
  float: left;
  display: inline-block;
}

#term {
  width: 95px;
}

#adv_search {
  display: none;
}

#normal_search_div {
  top: 14px;
  position: relative;
  display: inline;
}

#normal_search {
  // top: 13px;
  display: inline;
  position: relative;
  left: 3px;
}

#search_right_align {
  float: right;
  padding-top: 0.15em;
  right: 3em;
  position: relative;
}

.form {
  display: inline-block;
  margin: auto;
  width: 100%
}

#recipe_form {
  width: 50%;
  margin: auto;
}

.form input {
  margin-bottom: 2em;
}
.form button {
  margin-bottom: 2em;
}

#whitespace {
  background-color: GhostWhite;
  width: 100%;
  height: 40px;
}

#topmenu {
  border-top: 1px solid black;
}

.sub_header {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.fa {
  background-color: transparent;
}

.fa-times {
  background-color: transparent;
  color: red;
  position: relative;
  right: -192px;
  top: -0.6em;
}

.modal {
  display: none;
}

.modalattr {
  display:block;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  margin: auto;
  z-index: 2;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid black;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

.nutritioncontainer {
  display: inline-block;
  margin: auto;
 }

 #navlogin {
  display: none;
 }

@media ( min-width: 960px ) {

  .container {
    margin-top: 1em;
  }

  nav {
    padding-bottom: 1.5em;
  }

  #LogoHeader {
    text-decoration: none;
    color: black;
  }

  #emptywarning {
    text-align: center;
    margin: 2em;
  }

  #adv_search {
    display: inline-block;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 0.5em;
    // position: absolute;
    // left: 46%;
    // margin-top: 10px;
  }

  #adv_search_menu {
    display: none;
  }

  #topmenu {
    border-top: none;
  }

  nav h1 {
    font-size: 1.5em;
    padding: 0.25em;
    float: left;
  }

  #search_right_align {
    float: right;
    right: 1em;
    position: relative;
  }

  #normal_search_wrapper {
    // top: 35px;
    display: inline-block;
    height: 100%;
    // position: relative;
  }

  #whitespace {
    display: none;
  }

  .menu {
    display: block;
    background-color: GhostWhite;
    top: 72px;
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
  }

  .menu a {
    display: inline;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 100%;
    background-color: GhostWhite;
    border-bottom: none;
    z-index: 5;
  }

  #navlogin {
    display: hidden;
  }

  .fa {
    right: -99%;
  }


}
