// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  display: none;
}

.thumbnail {
  max-width: 100%;
  border-bottom: 1px solid black;
}

.thumbnail_name {
  padding-top: 10px;
}

.recipe_image {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 1px solid black;
}

.container {
  text-align: center;
}

.container article {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid black;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article span {
  text-align: center;
}

.recipe_header {
  padding-top: 3.5em;
  padding-bottom: 1em;
}

.content {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#allrecipes {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25%;
}

.call_to_action {
  width: 100%;
  height: 2em;
}

.bottom_menu {
  display: inline-block;
  background-color: GhostWhite;
  position: fixed;
  bottom: -150px;
  width: 100%;
  transition: .3s all;
  left: 0px;
}

.bottom_menu_show {
  transition: .3s all;
  left: 0px;
  bottom: 0px!important;
}

#button {
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
}

.nutrition {
  background-color: GhostWhite;
  margin-left: 16%;
}

@media ( min-width: 960px ) {

  .thumbnail {
    max-width: 100%;
    border-bottom: 1px solid black;
  }

  .container {
    text-align: center;
  }

  .container article {
    display: inline-block;
    width: 25%;
    border-radius: 3px;
    border: 1px solid black;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #button {
    display: none;
  }

  .steps {
    width: 70%;
    margin: auto;
  }

  .nutrition {
    margin-left: 28em;
  }

}
