// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-align: center;
  padding: 10px;
  margin-bottom: 16px;
}

article {
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: wheat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article p {
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.flexbox-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexbox-container a {
  width: 25%;
}
