// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.food-div {
  text-align: center;
}

.food-div p {
  padding-bottom: 5px;
}

.pantry {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.pantry p {
  margin-bottom: 5px;
}

.pantry input, label {
  margin-bottom: 5px;
}

.signup {
  width: 100%;
  margin-top: 5em;
}

.signup form {
  width: 13%;
  margin: auto;
}

.signup form > * {
  margin-bottom: 1em;

}

.weeklyplanner {
  margin: auto;
  height: 250px;
  width: 90%;
  margin-top: 3em;
}

.dayplanner {
  display: inline-block;
  height: 100%;
  width: (95%/7);
  text-align: center;
  text-decoration: underline;
  border: 1px solid black;
}

.breakfast, .lunch, .dinner {
  width: 99%;
  height: 30%;
}

.weeklyplanner span {
  width: 90%;
  height: 70%;
  display: inline-block;
  border: 1px solid black;
}
