// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.food-div {
  text-align: center;
}

.food-div p {
  padding-bottom: 5px;
}

.pantry {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.pantry p {
  margin-bottom: 5px;
}

.pantry input, label {
  margin-bottom: 5px;
}

.signup {
  width: 100%;
  margin-top: 5em;
}

.signup form {
  width: 13%;
  margin: auto;
}

.signup form > * {
  margin-bottom: 1em;

}

.weeklyplanner {
  margin: auto;
  height: 250px;
  width: 90%;
  margin-top: 3em;
}

.dayplanner {
  display: inline-block;
  height: 100%;
  width: (95%/7);
  text-align: center;
  // border: 1px solid black;
}

.breakfast, .lunch, .dinner {
  margin-top: 2em;
  width: 99%;
  height: 40%;
  // border: 1px solid black;
}

.weeklyplanner span {
  width: 80%;
  height: 90%;
  display: inline-block;
  border: 1px solid black;
}

.recipedroppable {
  display: inline-block;
  position: absolute;
  z-index: 100;
  text-align: center;
  width: 6%;
  padding: 10px;
  margin: 10px;
  // border: 1px solid black;
}

.weeklyplanner h4 {
  margin-bottom: 2em;
  // border: 1px solid black;
}

#save_weeklyplanner {
  position: absolute;
  bottom: 6%;
  right: 40%;
}

#clear_weeklyplanner {
  position: absolute;
  bottom: 6%;
  right: 60%;
}

#plus_button {
  background: inherit;
  color: green;
  margin-top: 3px;
  padding: 1px 7px;
  border: 1px solid lightgrey;
}
